body {
  margin: 0;
  font-family: Larsseit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #22356f;
  flex-grow: 1;
  padding-inline-end: 170px;
  padding-inline-start: 170px;
  align-items: baseline;
}
header a {
  text-decoration: none;
  display: block;
  color: #22356f;
}

header .logo a {
  color: #62d0df;
  float: left;
}

header ul li {
  flex-grow: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
  font-size: 24px;
  letter-spacing: -0.035em;
  flex-grow: 20;
}

.header-button {
  flex-grow: 20;
  text-align: -webkit-right;
}

.header-button button {
  background: #62d0df;
  border-radius: 30px;
  font-family: Larsseit;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header-button button:hover {
  background: #31c94a;
}

.home {
  left: 0px;
  top: 0px;
  background: #f4f9e2;
  display: flex;
  flex-direction: row;
}

.home-block {
  margin-top: 250px;
  padding-inline-start: 170px;
  padding-inline-end: 260px;
  padding-bottom: 90px;
}

.home-block h2 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
}

.home-block h3 {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
}

.home-block p {
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
}
.home-block div {
  display: flex;
  flex-grow: 1;
}

.image {
  position: relative;
}
.image__profile {
  width: 750px;
  height: 800px;
  z-index: 1;
  left: -100px;
  top: -50px;
  position: absolute;
}
.image__frame {
  width: 650px;
  height: 630px;
  z-index: 2;
}

.image__back {
  width: 310px;
  height: 617px;
  top: 200px;
  left: 340px;
  z-index: 1;
  position: absolute;
  background-color: aliceblue;
}

.home-block button {
  background: #f9b640;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
}

.home-block button:hover {
  background: #31c94a;
}

.home-block a {
  font-size: 16px;
  line-height: 23px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #fab63e;
  padding-left: 30px;
}

.block-2__text {
  background: #62d0df;
  flex-grow: 7000;
  padding-inline-start: 170px;
  padding-block-start: 200px;
  height: 404px;
}

.block-2__text h3 {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.block-2__text p {
  line-height: 35px;
  color: #ffffff;
  width: 555px;
  height: 235px;
  left: 179px;
}

.block-2__img {
  flex-grow: 1;
}

.block-3 {
  display: flex;
  flex-direction: row;
  padding-inline-start: 150px;
  margin-block-start: 70px;
}

.block-3 h4 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;

  color: #22356f;
  flex-grow: 1;
}

.block-3 div {
  flex-grow: 2;
  text-align: left;
}

.block-3 div p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  padding-left: 50px;
  color: #22356f;
  text-align: -webkit-center;
  width: 592px;
  height: 210px;
  left: 424px;
}

.block-3 div h4 {
  font-size: 16px;
  line-height: 34px;
  text-align: -webkit-center;
  letter-spacing: 0.005em;
  color: rgba(34, 53, 111, 0.5);
  width: 592px;
  left: 424px;
  padding-left: 50px;
}

.block-4 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 360px;
  padding-inline-start: 0;
  text-align: center;
  list-style-position: inside;
  margin-inline-start: 70px;
  margin-inline-end: 70px;
}

.block-4 li::marker {
  color: #e9b730;
}

.block-4 li {
  line-height: 290px;
}

.block-4 li a {
  border-top: solid 1px;
}

.block-4__child-1 {
  flex-grow: 1;
  background: #ffe2de;
  font-size: 32px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.block-4__child-1 text {
  border: 2px solid red;
}
.block-4__child-2 {
  flex-grow: 1;
  background: #c4e769;
  font-size: 32px;
  letter-spacing: -0.006em;

  color: #ffffff;
}
.block-4__child-3 {
  flex-grow: 1;
  background: #62d0df;
  font-size: 32px;
  letter-spacing: -0.006em;

  color: #ffffff;
}
.block-4__child-4 {
  flex-grow: 1;
  background: #0052c1;
  font-size: 32px;
  letter-spacing: -0.006em;

  color: #ffffff;
}

.block-5 {
  height: 100px;
  color: white;
}

.block-6 {
  margin-inline-start: 70px;
  margin-inline-end: 70px;
}

.block-6 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline-start: 0;
  vertical-align: center;
  list-style-position: inside;
}

.block-6 ul li {
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  left: 0px;
  letter-spacing: -0.006em;
  font-size: 32px;
  flex: 480px;
  text-align: center;
  line-height: 350px;
}

.block-6 ul li a {
  border-top: 1px solid white;
  padding: 15px;
}

.block-6 ul li::marker {
  color: #e9b730;
}

.block-6__child-1 {
  background: #22356f;
  color: #ffffff;
}

.block-6__child-2 {
  background: #0052c1;
  color: #ffffff;
}

.block-6__child-3 {
  background-image: url("img/joanna-kosinska-340748.png");
  color: #ffffff;
}

.block-6__child-4 {
  background: #62d0df;
  color: #ffffff;
}

.block-6__child-5 {
  background: #dee1ff;
  color: #ffffff;
}

.block-6__child-6 {
  background: #8f00ff;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.block-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline-start: 60px;
  margin-block-end: 60px;
}

.block-7 div {
  flex-wrap: wrap;
  height: 240px;
  left: 0px;
  background: white;
  flex: 400px;
  text-align: left;
  margin-block-start: 50px;
  margin-left: 70px;
}

.block-7 div p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  width: 280px;
  color: rgba(34, 53, 111, 0.5);
}

.block-7 div h3 {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356f;
}

.flex-block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.block-8__child-1 {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 175px;
  flex-grow: 10;
}
.block-8 img {
  flex-grow: 1;
}

.block-8__child-1 p {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  margin-bottom: auto;
  color: #22356f;
  width: 600px;
}

.block-8__h-1 {
  margin-top: 100px;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356f;
}

.block-8__h-2 {
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #fab63e;
}

.block-9__child-1 {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 175px;
  background: #22356f;
}

.block-9 img {
  flex-grow: 1;
}

.block-9__child-1 p {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  margin-bottom: auto;
  color: #ffffff;
}

.block-9__h-1 {
  margin-top: 100px;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: white;
}

.block-9__h-2 {
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #62d0df;
}

.block-9__child-1 h2 {
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.block-9 {
  background: #22356f;
}

.block-10__child-1 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}

.block-10__child-1 div {
  margin-inline-start: 40px;
}

.block-10__child-1 div:nth-child(1),
.block-10__child-1 div:nth-child(2) {
  border-right: 0.2px inset;
}

.block-10__child-1 h3 {
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356f;
  flex-grow: 1;
}

.block-10__child-1 p {
  margin-bottom: 70px;
  width: 207px;
  height: 115px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

footer {
  background: #62d0df;
  height: 50px;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  padding-inline-start: 150px;
  color: #ffffff;
  line-height: 50px;
}

/* Адаптация для мобильных устройств */
@media screen and (max-width: 900px) {
  header ul {
    list-style: none;
    display: flex;
    justify-content: normal;
  }

  div.home {
    width: 1440px;
    height: 820px;
  }

  div.home_block {
    margin-top: 250px;
    padding-inline-start: 150px;
    padding-inline-end: 0;
    padding-right: 0;
  }

  div.home_block p {
    font-size: 24px;
    line-height: 24px;
  }
  div.flex_block {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 1440px;
  }
  div.block_3 {
    width: 1250px;
  }
  .block_4,
  .block_5,
  .block_6,
  .block_7,
  .block_8,
  .block_9 {
    width: 1350px;
  }

  footer {
    width: 1290px;
  }
}
